@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(245, 245, 245);
    font-family: 'Poppins', sans-serif;
   
}


h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    text-align: center;
}
.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.underline{
    height: 3px;
    width: 150px;
    background: rgb(223, 28, 102);
    margin-top: 4px;
    border-radius: 10px;
}
.login-clm{
    margin-top: 20px;
    background: white;
    padding: 40px 40px;
    box-shadow: rgb(187, 182, 182) 2px 4px 10px;
    border: solid 0.3rem white;
    border-top: solid rgb(223, 28, 102) 4px;
    border-left: hidden;
    border-right: hidden;
    border-radius: 0.4rem;
}
.email-address{
    font-size: 15px;
    background: none;
    margin-left: -140px;
}
.cfm-pwd{
    font-size: 15px;
    background: none;
    margin-left: -115px;
}
.form{
    background: white;
    max-width: 300px;
}
.form input{
    background: none;
    height: 30px;
    width: 250px;
    margin-top: 5px;
    border-radius: 3px;
    border-style: solid;
    border-color: rgb(234, 234, 241);
}
.form button{
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 9px ;
    width: 250px;
    background-color: rgb(223, 28, 102);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    border: none;
}
.form a {
    text-decoration: none;
    background: none;
    color: rgb(92, 88, 88);
    font-size: 12px;
    
}

.form b{
    background: none;
}
.form p{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    background: none;
}
.form p span{
    color: rgb(142, 228, 13);
    background: none;
}

@media screen and (max-width: 800px ) {
    h2{
        font-size: 30px;
    }
    .container{
        margin-top: 125px;
    }
    .underline{
        margin-top: 5px;
        width: 150px;
        height: 3px;
    }
    .login-clm{
        border-top: solid rgb(223, 28, 102) 6px;
        border-radius: 0.6rem;
    }
    .email-address{
        font-size: 18px;
        margin-left: -128px;
    }
    .cfm-pwd{
        font-size: 18px;
        margin-left: -100px;
    }
    .form input{
        height: 40px;
    }
    .form button{
        padding: 12px 40px;
        font-size: 12px;
    }
    .form a{
        font-size: 12px;
    }
    .form p{
        font-size: 15px;
    }
}




